{% extends "base.html" %} {% block meta %}
<title>Catatanku | Update</title>
{% endblock meta %} {% block content %}
<div class="relative overflow-x-auto mx-24">

    <form method="POST" id="note-form">

        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            <input type="text" id="note-title" class="form-control" name="title"> {{ data.title }}
             </div>
        <div class="form-group">
            <label>Text</label>
             <textarea class="form-control" id="note-text" rows="3" name="text">{{ data.text }}</textarea>
             </div>
        <div class="bg-red-400 text-white rounded-lg pl-3 md:pl-2 p-2 text-center">
            <input type="submit" value="Update">
        </div>

    </form>
</div>
{% endblock content %}